@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
/* CSS Document */

:root {
	--Pink: hsl(322, 100%, 66%);
	--VeryPaleCyan: hsl(193, 100%, 96%);
	--VeryDarkCyan: hsl(192, 100%, 9%);
	--GrayishBlue: hsl(208, 11%, 55%);
}

/*####################### GENERAL #######################*/

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body>* {
	width: 1440px;
}

a {
	text-decoration: none;
	color: var(--VeryPaleCyan);
}

a:visited {
	color: var(--VeryPaleCyan);
}

a:active {
	color: var(--VeryPaleCyan);
}

a:hover {
	color: hsla(193, 100%, 96%, 0.5);
}

input[type="button"] {
	border: none;
	font: 700 14px 'Open Sans';
	cursor: pointer;
}

h1 {
	height: 120px;
	padding: 0px;
	margin: 0px;
	font: 600 40px/60px 'Poppins';
}

p {
	margin: 0px;
	padding: 0px;
}


/*####################### HEADER #######################*/

header {
	height: 721px;
	background: var(--VeryPaleCyan) url("../images/bg-hero-desktop.svg") no-repeat;
	padding: 48px 0px 0px 80px;
}

#top-header {
	width: 1280px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#top-header-logo {
	height: 31px;
	width: 200px;
	background: url('../images/logo.svg') center/200px 31px;

}

#bt-try {
	width: 200px;
	height: 48px;
	border-radius: 24px;
	color: var(--VeryDarkCyan);
	background-color: white;
	box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954);

}

#bt-try:hover {
	color: var(--GrayishBlue);
}

#header-body {
	width: 1270px;
	height: 482px;
	margin-top: 71px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#header-body>div {
	height: 482px;
}

#header-body-content {
	height: 321px;
	width: 536px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--VeryDarkCyan);
}

#header-body-content>div {
	width: inherit;
}

#header-body-content-text {
	height: 233px;
	margin-top: 86px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#header-body-content-text p {
	width: 520px;
}

#header-body-getStartedBt {
	margin-top: 32px;
}

#getStarted-bt {
	width: 280px;
	height: 56px;
	border-radius: 28px;
	box-shadow: 0px 3px 11px rgba(255, 82, 193, 0.16);
}

#header-body-img {
	width: 680px;
	height: 482px;
	background: url('../images/illustration-mockups.svg') center/690px 492px no-repeat;
}



/*####################### MAIN #######################*/


main {
	height: 1403px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 164px;
}

main>div {
	width: 1232px;
	height: 440px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 16px;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
	padding: 0px 29px 0px 120px;
}

main p[class='text-header'] {
	height: 42px;
	margin-bottom: 16px;
}

main p[class='text-content'] {
	color: var(--GrayishBlue);
}

#grow [class='main-text'] {
	width: 488px;
}

#conversations [class='main-text'] {
	width: 499px;
}

#users [class='main-text'] {
	width: 477px;
}

.main-text {
	height: 139px;
}

.text-header {
	font: 600 28px/42px 'Poppins';
	color: #00252E;
}

.text-content {
	margin-top: 16px;
}

.main-img {
	width: 440px;
	height: 440px;
	text-align: right;
	display: block;
}

#grow-img {
	background: url("../images/illustration-grow-together.svg") center/440px no-repeat;
}

#conversations-img {
	background: url("../images/illustration-flowing-conversation.svg") center/440px no-repeat;
}

#users-img {
	background: url("../images/illustration-your-users.svg") center/440px no-repeat;
}

/*####################### READY TO BUILD #######################*/

#readyToBuild {
	width: 800px;
	height: 280px;
	position: absolute;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	color: var(--VeryDarkCyan);
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
	background-color: white;
	text-align: center;
	top: 2442px
}

#readyToBuild>p {
	width: 541px;
	height: 60px;
	margin-top: 56px;
	font: 32px/60px 'Poppins';
}

#readyToBuild>[type="button"] {
	width: 400px;
	height: 80px;
	margin-top: 32px;
	border-radius: 40px;
	font-size: 20px;
	line-height: 30px;
	box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.22);
}

/*####################### FOOTER #######################*/

footer {
	height: 418px;
	background-color: var(--VeryDarkCyan);
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	margin-top: 344px;
	padding: 144px 0px 0px 120px;
}

#footerLogo {
	height: 24px;
	width: 152px;
	background: url("../images/logo-white.svg") center/152px no-repeat;
}

#footerContent {
	height: 154px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 32px;
}

/*------ info ------*/

#info {
	width: 379px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#phone {
	margin: 16px 0px 16px;
}

#info>div {
	display: flex;
	flex-direction: row;
}

.info-icon {
	display: block;
	margin-top: 3px;
	width: 24px;
	height: 24px;
}

.info-text {
	width: 360px;
	font: 400 14px/24px 'Open Sans';
	color: var(--VeryPaleCyan);
	margin-left: 16px;
}

/*------ links ------*/

#links01 {
	width: 82px;
	margin-left: 130px;
}

#links02 {
	width: 71px;
	margin-left: 143px;
}

.linksBlock {
	height: 105px;
}

.link {
	width: inherit;
	height: 27px;
	font: 400 14px/27px 'Open Sans';
	color: var(--VeryPaleCyan);
	text-align: left;
	margin-bottom: 12px;
}

/*------ socialMedia ------*/

#socialMedia {
	width: 262px;
	height: 154px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 169px;
}

#socialMediaLinks {
	width: inherit;
	height: 31px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#copyRight {
	height: 18px;
	font: 400 12px 'Open Sans';
	color: var(--VeryPaleCyan);
	text-align: left;
}

.logo-media {
	width: 31px;
	height: 31px;
	display: block;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;
	border: solid 1px var(--VeryPaleCyan);
	border-radius: 15px;
}

.logo-media:hover {
	cursor: pointer;
}

.logo-media>img {
	height: 23px;
	margin-top: 4px;
}

/*####################### CLASSES FOR GENERAL USE #######################*/

.text-content {
	font: 400 18px/27px 'Open Sans';
}

.pink-button {
	background-color: var(--Pink);
	color: white;
}

.pink-button:hover {
	background-color: hsla(322, 100%, 66%, 0.5);
}

/*######################################################################*/
/*############################ MOBILE VERSION ##########################*/
/*######################################################################*/

@media screen and (max-width: 480px) {

	body {
		justify-content: flex-start;
	}

	body>* {
		width: 100vw;
	}

	h1 {
		width: 280px;
		height: 72px;
		text-align: center;
		font: 600 24px/36px 'Poppins';
	}

	/*####################### HEADER #######################*/

	header {
		width: inherit;
		height: 721px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background: var(--VeryPaleCyan) url("../images/bg-hero-mobile.svg") no-repeat;
		padding: 24px 0px 0px 0px;
	}

	#top-header {
		width: 343px;
		height: 24px;
	}

	#top-header-logo {
		height: 16px;
		width: 104px;
		background: url('../images/logo.svg') center/104px 16px;
	}

	#bt-try {
		width: 96px;
		height: 24px;
		border-radius: 12px;
		box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954);
	}

	#header-body {
		width: 304px;
		height: 553px;
		margin-top: 80px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	#header-body>div {
		height: 100%;
	}

	#header-body-content {
		height: 304px;
		width: 288px;
	}

	#header-body-content-text {
		margin: 0px;
	}

	#header-body-content-text p {
		width: 304px;
		font: 400 16px/24px 'Open Sans';
	}

	#header-body-getStartedBt {
		margin-top: 32px;
	}

	#getStarted-bt {
		width: 240px;
		height: 40px;
		border-radius: 20px;
		box-shadow: 2px 3px 6px rgba(255, 82, 193, 0.16);
	}

	#header-body-img {
		margin-top: 56px;
		width: 296px;
		height: 209px;
		background: url('../images/illustration-mockups.svg') center/296px 209px no-repeat;
	}



	/*####################### MAIN #######################*/


	main {
		height: 2097px;
		margin-top: 0px;
		justify-content: flex-start;
		padding-top: 112px;
	}

	main>div {
		width: 335px;
		height: 554px;
		flex-direction: column-reverse;
		justify-content: flex-end;
		padding: 0px;
		text-align: center;
		margin-bottom: 40px;
	}

	#conversations {
		flex-direction: column;
		justify-content: flex-start;
	}

	main p[class='text-header'] {
		height: 30px;
	}

	#grow [class='main-text'] {
		width: 256px;
		height: 151px;
	}

	#conversations [class='main-text'] {
		width: 256px;
		height: 84px;
	}

	#users [class='main-text'] {
		width: 248px;
		height: 151px;
	}

	.text-header {
		font: 600 20px/30px 'Poppins';
	}

	.text-content {
		font: 400 14px/21px 'Open Sans';
	}

	.main-img {
		width: 256px;
		height: 256px;
		margin: 0px;
	}

	#grow-img {
		background-size: 256px;
	}

	#conversations-img {
		background-size: 256px;
	}

	#users-img {
		background-size: 256px;
	}

	.main-text {
		width: 248px;
		margin: 24px 0px 0px;
	}

	#grow {
		flex-direction: column-reverse;
	}

	#conversations {
		flex-direction: column;
	}

	#users {
		flex-direction: column-reverse;
	}

	.content-column {
		width: 340px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 30px;
	}

	.content-img {
		width: 280px;
	}

	.content-img-right-size {
		text-align: center;
	}

}