@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
/* CSS Document */

:root {
	--Pink: hsl(322, 100%, 66%);
	--VeryPaleCyan: hsl(193, 100%, 96%);
	--VeryDarkCyan: hsl(192, 100%, 9%);
	--GrayishBlue: hsl(208, 11%, 55%);
}

/*####################### GENERAL #######################*/

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body>* {
	width: 1440px;
}

a {
	text-decoration: none;
	color: var(--VeryPaleCyan);
}

a:visited {
	color: var(--VeryPaleCyan);
}

a:active {
	color: var(--VeryPaleCyan);
}

a:hover {
	color: hsla(193, 100%, 96%, 0.5);
}

input[type="button"] {
	border: none;
	font: 700 14px 'Open Sans';
	padding-top: 1px;
	cursor: pointer;
}

h1 {
	height: 120px;
	padding: 0px;
	margin: 0px;
	font: 600 40px/60px 'Poppins';
	border: solid 1px red;
}

p {
	margin: 0px;
	padding: 0px;
}


/*####################### HEADER #######################*/

header {
	height: 721px;
	background: var(--VeryPaleCyan) url("../images/bg-hero-desktop.svg") no-repeat;
	padding: 48px 0px 0px 80px;
}

#top-header {
	width: 1280px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#top-header-logo {
	height: 31px;
	width: 200px;
	background: url('../images/logo.svg') center/200px 31px;
	
}

#bt-try {
	width: 200px;
	height: 48px;
	border-radius: 24px;
	color: var(--VeryDarkCyan);
	background-color: white;
	box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954);

}

#bt-try:hover {
	color: var(--GrayishBlue);
}

#header-body {
	width: 1270px;
	height: 482px;
	margin-top: 71px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#header-body>div {
	height: 482px;
}

#header-body-content {
	height: 321px;
	width: 536px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--VeryDarkCyan);
}

#header-body-content>div {
	width: inherit;
}

#header-body-content-text {
	height: 233px;
	margin-top: 86px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#header-body-content-text p{
	width: 520px;
}

#header-body-getStartedBt {
	margin-top: 32px;
}

#getStarted-bt {
	width: 280px;
	height: 56px;
	border-radius: 28px;
	box-shadow: 0px 3px 11px rgba(255, 82, 193, 0.16);
}

#header-body-img {
	width: 680px;
	height: 482px;
	background: url('../images/illustration-mockups.svg') center/690px 492px no-repeat;
}



/*####################### MAIN #######################*/


main {
	height: 1403px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 160px;
}

main>div {
	width: 1232px;
	height: 440px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 16px;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
	padding: 0px 29px 0px 109px;
}

main p[class='text-header'] {
	height: 42px;
	margin-bottom: 16px;
}

main p[class='text-content'] {
	color: var(--GrayishBlue);
}

#grow [class='main-text']{
	width: 488px;
}

#conversations [class='main-text']{
	width: 499px;
}

#users [class='main-text']{
	width: 477px;
}

.main-text {
	height: 139px;
}

.text-header {
	font: 600 28px/42px 'Poppins';
	color: #00252E;
}

.main-img {
	width: 440px;
	height: 440px;
	text-align: right;
	display: block;
}

#grow-img {
	background: url("../images/illustration-grow-together.svg") center/406px 332px no-repeat;
}

#conversations-img {
	background: url("../images/illustration-flowing-conversation.svg") center/417px 297px no-repeat;
}

#users-img {
	background: url("../images/illustration-your-users.svg") center/420px 317px no-repeat;
}

/*####################### FOOTER #######################*/

footer {
	height: 560px;
	background-color: var(--VeryDarkCyan);
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 344px;
}

footer>div {
	margin-top: 190px;
}

#readyToBuild {
	position: absolute;
	z-index: 100;
	width: 800px;
	height: 280px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px -10px grey;
	background-color: white;
	margin-top: -184px;
	text-align: center;
}

#readyToBuild>p {
	margin-top: 60px;
	font: 32px 'Poppins';
}

#readyToBuild>[type="button"] {
	width: 400px;
	height: 80px;
	border-radius: 40px;
	font-size: 18px;
	box-shadow: 0px 10px 20px -10px grey;
}


#col-one {
	width: 440px;
}

#col-one-logo {
	height: 80px;
	width: 250px;
}

@supports (mask: url("")) {
	#col-one-logo {
		mask: url("../images/logo.svg");
		mask-size: 250px;
		mask-repeat: no-repeat;
		background: white;
	}
}

#col-two {
	width: 230px;
	height: 330px;
}

#aboutUs {
	margin-top: 80px;
}

#col-three {
	width: 200px;
	height: 330px;
}

#career {
	margin-top: 80px;
}

#col-four {
	width: 370px;
	height: 330px;
	display: block;
	text-align: center;
}

#media {
	width: inherit;
	height: 30px;
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#copyRight {
	font: 400 12px 'Open Sans';
	color: var(--VeryPaleCyan);
	margin-top: 180px;
	align-self: flex-end;
	text-align: right;
}

.col {
	display: flex;
	flex-direction: column;
}

.col-one-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 25px;
}

.col-one-icon {
	display: block;
	margin-top: 3px;
	width: 25px;
}

.col-one-text {
	width: 360px;
	font: 400 16px 'Open Sans';
	color: var(--VeryPaleCyan);
	margin-left: 15px;
}

.logo-media {
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	border: solid 1px var(--VeryPaleCyan);
	border-radius: 15px;
}

.logo-media:hover {
	cursor: pointer;
}

.logo-media>img {
	height: 23px;
	margin-top: 4px;
}

.link {
	width: inherit;
	font: 400 18px 'Open Sans';
	color: var(--VeryPaleCyan);
	text-align: center;
	margin-bottom: 20px;
}

/*####################### CLASSES FOR GENERAL USE #######################*/

.text-content {
	font: 400 18px/27px 'Open Sans';
}

.pink-button {
	background-color: var(--Pink);
	color: white;
}

.pink-button:hover {
	background-color: hsla(322, 100%, 66%, 0.5);
}

/*######################################################################*/
/*############################ MOBILE VERSION ##########################*/
/*######################################################################*/

@media screen and (max-width: 480px) {}